@font-face {
    font-family: 'Cera Pro Regular';
    src: 
        url('./fonts/CeraPro-Regular.eot') format('.eot'), 
        url('./fonts/CeraPro-Regular.ttf') format('.ttf'), 
        url('./fonts/CeraPro-Regular.woff') format('.woff');
    font-weight: 400px;
}

@font-face {
    font-family: 'Cera Pro Medium';
    src: url('./fonts/CeraPro-Medium.eot') format('.eot'), url('./fonts/CeraPro-Medium.ttf') format('.ttf'), url('./fonts/CeraPro-Medium.woff') format('.woff');
    font-weight: 500px;
}

@font-face {
    font-family: 'Cera Pro Bold';
    src: url('./fonts/CeraPro-Bold.eot') format('.eot'), url('./fonts/CeraPro-Bold.ttf') format('.ttf'), url('./fonts/CeraPro-Bold.woff') format('.woff');
    font-weight: 700px;
}

@font-face {
    font-family: 'Hanged Letters';
    src: url('./fonts/Hanged-Letters.ttf') format('.ttf');
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-style: normal;
    box-sizing: border-box;
}


.list {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 37px;
}

.list-item.active {
    font-family: 'Cera Pro Bold', sans-serif;
    font-size: 15px;
    font-weight: 700px;
    color: #46A358;
    border-bottom: 2px solid #46A358;
  
}

.list-item {
    color: #3D3D3D;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 106.667% */
}

.container {
    padding: 171px 109px 82px 106px;
    display: flex;

}

.menu-item.active-item {
    color: #46A358;
    font-family: 'Cera Pro Bold', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px; 
}

.menu-list {
    padding: 7px 0 0 12px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    margin: 0 0 38px 0;
}

section.menu {
    background: #FBFBFB;
    margin: 0 50px 0px 0px;
    color: #3D3D3D;
    font-family: 'Cera Pro Regular', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    width: 310px;
    height: 774px;
}

h1 {
    color: #3D3D3D;
    font-family: 'Cera Pro Bold', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700px;
    line-height: 16px;
}

.Plants {
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
}

.flex-item {
    display: flex;
    flex-direction: column;
    width: 33%;
    justify-content: center;
    height: 350px;
    padding: 5px;
}

p {
    padding: 12px 108px 6px 0;
    color: #3D3D3D;
    font-family: 'Cera Pro Regular';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
}

.font2 {
    color: #46A358;
    font-family: 'Cera Pro Bold';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
}

section.sale {
    width: 310px;
    background: linear-gradient(180deg, rgba(70, 163, 88, 0.10) 0%, rgba(70, 163, 88, 0.03) 100%);
}

h2 {
    font-family: 'Hanged Letters';  
    color: #46A358;
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: 65px; /* 100% */
    text-align: center; 
}

h3 {
    text-align: center;
    color: #3D3D3D;
    font-family: 'Cera Pro Bold', sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 69.565% */
}
.pagination {

    right: 20px;
    bottom: 20px;
    display: flex;
    gap: 10px;
    margin: 90px 105px 82px 1120px;
}

.page-btn {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Cera Pro Regular', sans-serif;
    font-size: 18px;
    font-weight: 300;
    border-radius: 4px;
    border: none;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    color: #3D3D3D;
 
}

.active2 {
    background-color: #46A358;
    color:#FFF;
}

.wrapper {
    width: 260px;
    height: 300px;
    position: relative;
}

.flex-item img {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
}

.picture {
    position: relative;

}

.overlay {
    position: absolute;
    bottom: 82px;
    right: 12px;
}

.background {
    max-width: 100%;
}
