@font-face {
    font-family: 'Cera Pro Regular';
    src: 
        url('./fonts/CeraPro-Regular.eot') format('.eot'), 
        url('./fonts/CeraPro-Regular.ttf') format('.ttf'), 
        url('./fonts/CeraPro-Regular.woff') format('.woff');
    font-weight: 400px;
}

@font-face {
    font-family: 'Cera Pro Medium';
    src: url('./fonts/CeraPro-Medium.eot') format('.eot'), url('./fonts/CeraPro-Medium.ttf') format('.ttf'), url('./fonts/CeraPro-Medium.woff') format('.woff');
    font-weight: 500px;
}

@font-face {
    font-family: 'Cera Pro Bold';
    src: url('/fonts/CeraPro-Bold.eot') format('.eot'), url('/fonts/CeraPro-Bold.ttf') format('.ttf'), url('./fonts/CeraPro-Bold.woff') format('.woff');
    font-weight: 700px;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-style: normal;
    box-sizing: border-box;
}


.list {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 37px;
}

.list-item.active {
    font-family: 'Cera Pro Bold', sans-serif;
    font-size: 15px;
    font-weight: 700px;
    color: #46A358;
    border-bottom: 2px solid #46A358;
  
}

.list-item {
    color: #3D3D3D;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 106.667% */
}

.container {
    padding: 171px 109px 82px 106px;
    display: flex;

}

.menu-item.active-item {
    color: #46A358;
    font-family: 'Cera Pro Bold', sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 40px; 
    
}

.menu-list {
    padding: 7px 185px 377px 30px;
}

.icon-item {
    color: #3D3D3D;
    font-family: 'Cera Pro Regular', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 106.667% */
    display: flex;
    justify-content: center; 
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFF;
    margin: 0 0 38px 0;
}

section.menu {
    background: #FBFBFB;
    margin: 0 50px 0px 0px;
    color: #3D3D3D;
    font-family: 'Cera Pro Regular', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
   
}

h1 {
    color: #3D3D3D;
    font-family: 'Cera Pro Bold', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700px;
    line-height: 16px;
    padding: 14px 199px 0 18px;
}

.Plants {
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    gap: 33px;
}

.wrapper {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative;
}

.flex-item {
    display: flex;
    flex-direction: column;
    width: calc(33.33% - 33px);
    height: 350px;
    overflow: hidden;
    position: relative;
    border-top: 1px solid transparent;
}

.image {
    max-width: 250px;
    height: auto;
    align-self: center;
}

.normal-text {
    color: #3D3D3D;
    font-family: 'Cera Pro Regular',sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    padding: 12px 0 6px;
}

.font2 {
    color: #46A358;
    font-family: 'Cera Pro Bold', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
}

.pagination {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    padding: 90px 100px;
}

.page-btn {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Cera Pro Regular', sans-serif;
    font-size: 18px;
    font-weight: 300;
    border-radius: 4px;
    border: none;
    border: 1px solid #E5E5E5;
    color: #3D3D3D;
}

.active2 {
    background-color: #46A358;
    color:#FFF;
}


.icon3 {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    gap: 26px;
    opacity: 0;
}

.flex-item:hover .icon3 {
    opacity: 1;
}
.flex-item:hover {
    border-color: #46A358;
}

.discount {
    background: #46A358;
    position: absolute;
    padding: 6px 8px;
    left: 0;
    top: 14px;
    color: #FFF;
    font-family: 'Cera Pro Medium', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 100% */
    border: 1px solid #46A358;
    opacity: 0;
}

.font3 {
    position: absolute;
    color: #A5A5A5;
    font-family: 'Cera Pro Regular',sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 88.889% */
    margin: 283px 50px 10px 75px;
    text-decoration: line-through;
    opacity: 0;
}
.flex-item:hover .discount {
    opacity: 1;
}

.flex-item:hover > span {
    opacity: 1;
}